/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */
/*colors: EEEEEE - 2BCED6 - 00adb5 - 393e46 - 222831*/

html {
  box-sizing: border-box;
}
*, :before, *:after {
  box-sizing: inherit;
}

ul {
list-style: none;
}

a { 
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}