/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */
/*colors: EEEEEE - 2BCED6 - 00adb5 - 393e46 - 222831*/

.services-grid {
  /* display: grid; */
  /* grid-template: 300px 300px 300px / 300px 300px 300px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* gap: 35px; */
  padding: 30px;
  color: antiquewhite;
  background-color: #EEEEEE;
  justify-content: space-around;
}

.box {
  border: solid #EEEEEE 2px;
  background-color: #00adb5;
  padding: 10px;
  max-width: 500px;
}

.services-grid h2 {
  font-weight: 800;
  font-size: 1.6rem;
}

.services-promo {
  height: 20rem;
  padding-top: 4rem;
  background-image: url('https://images.unsplash.com/photo-1537731121640-bc1c4aba9b80?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #EEEEEE;
  font-weight: 900;
  text-decoration: underline;
}
