/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

/*font-family: 'Raleway', sans-serif;
font-family: 'Cormorant Garamond', serif;*/

html {
  box-sizing: border-box;
}
*, :before, *:after {
  box-sizing: inherit;
}

#wrapper { 
  list-style: none;
  width: 100%;
  float: right;
  text-align: right;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  background-color: #393e46;
  font-family: 'Raleway', sans-serif;
  position: fixed;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #EEEEEE;
}

.navContainer a{
    text-decoration: none;
    color: #00adb5;
    list-style: none;
    font-size: 25px;
    padding-left: 20px;
}

.navContainer a:hover {
  color: #EEEEEE;
}
.logo {
    padding-top: 4px;
    width: 20px;
    float: left;
}


main .main-content-title {
    font-family: 'Cormorant Garamond', serif;
    color: #393e46;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  box-sizing: border-box;
  color: #393e46;
}

input[type=submit] {
  width: 100%;
  background-color: #00adb5;
  color: #393e46;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #31cbd3;
}

::placeholder {
  color: #393e46;
  font-family: 'Cormorant Garamond', serif;
}

main .contact-form {
  border-radius: 5px;
  background-color: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.contact-image {
  width: 100%;
}

main .contact-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  padding-top: 20px;
}

main .contact-info {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;

}
.contact-hours li {
  list-style-type: none;
}

.contact-phone {
  font-size: 20px;
  color: #00adb5;
  font-weight: bolder;
}
.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.fnavContainer a {
  display: block;
  padding: 20px 30px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;

}

.fnavContainer a:hover {
  color: #c3073f;
  transition: 0.4s;
}

.fnavContainer .close {
  /* position: absolute; */
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 0px;
}

.fslide a {
  color: black;
  font-size: 36px;
}

.fslide a:hover {
  color: #c3073f;
}

#ftnavContent {
  padding: 40px;
  transition: padding 0.7s;
  overflow: hidden;
  width: 100%;
}

.fmain-content-contact {
  display: block;
  justify-content: center;
  padding: 100px 100px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.footwrap {
 display: block; 
  text-align: center;
  background-color: 393E46;
  clear: both;
  Float: right;

}
.nfootwraper {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 340px) {
  .footwrap {
    display: none;
    text-align: center;
  }
}