/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

/*font-family: 'Raleway', sans-serif;
font-family: 'Cormorant Garamond', serif;*/

html {
  box-sizing: border-box;
}
*, :before, *:after {
  box-sizing: inherit;
}

#wrapper { 
  list-style: none;
  width: 100%;
  float: right;
  text-align: right;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  background-color: #393e46;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #EEEEEE;
}
.company {
    color: #222831;
    font-size: 25px;
    float: left;
    text-shadow: -1px 0 #00adb5, 0 1px #EEEEEE, 1px 0 #EEEEEE, 0 -1px #EEEEEE;
}
.navContainer a{
    text-decoration: none;
    color: #00adb5;
    list-style: none;
    font-size: 25px;
    padding-left: 20px;
}
.logo {
    padding-top: 4px;
    width: 20px;
    float: left;
}